body {
	background-image: url("../../images/zh/img_bg.jpg")/*tpa=http://jfchealth.com/new/images/img_bg.jpg*/;
	background-repeat:no-repeat;
	background-position:center top;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.footer_txt {
	font-size: 12px;
	color: #FFFFFF;
	font-family: "Microsoft JhengHei","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", "Osaka","ＭＳ Ｐゴシック","MS PGothic","sans-serif","arial","helvetica";
}
.index_news_title {
	font-size: 14px;
	font-weight: bold;
	color: #252525;
	font-family: "Microsoft JhengHei", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif", "arial", "helvetica";
}
.index_content_txt {
	font-size: 14px;
	font-weight: normal;
	color: #252525;
	line-height: 18px;
	font-family: "Microsoft JhengHei","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", "Osaka","ＭＳ Ｐゴシック","MS PGothic","sans-serif","arial","helvetica";
}
.style1 {color: #252525; font-size: 14px;}
.index_discription_title {
	font-size: 24px;
	font-weight: bold;
	color: #004282;
	font-family: "Microsoft JhengHei", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif", "arial", "helvetica";
	line-height: 25px;
}
.index_read_txt {
	color: 4e4eff;
	font-size: 12px;
	font-weight: bold;
	font-family: "Microsoft JhengHei","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", "Osaka","ＭＳ Ｐゴシック","MS PGothic","sans-serif","arial","helvetica";
}
a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a:active {
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.content-background
{
	background-image: url("../../images/zh/img_index_content_bg.png");
}
