body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.JFChealth-bg {
  background: rgb(234,237,236) url("img_JFChealth_bg.jpg") no-repeat;
  min-height: 865px;
}
.content>.gap {
  height:60px;
}
.left-nav {
  margin-left:40px;
}
.left-nav>.gap {
  height:100px;
}
.left-nav>ul>li {
  margin-bottom: 0;
}
.right-content {
  width: 850px;
  position: relative;
  top: -20px;
  margin-right:40px;
  padding: 25px;
  background-color: rgba(255,255,255,0.6);
}
div.magazine-info {
  margin: 10px auto;
}

.content-title {
  margin-bottom: 20px;
}

.index_discription_title {
	font-size: 24px !important;
	font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
  color: rgb(97,137,172);
}

a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
a:active {
	text-decoration: none;
	color: #FFFFFF;
}
