.home-banner {
  width: 100%;
  height: 530px;
}
.home-banner-icons {
  z-index: 2147483647;
}
#home-larrow-img {
  position: relative;
  left: 20px;
  top: 225px;
}
#home-rarrow-img {
  position: relative;
  left: 1192px;
  top: 225px;
}
.home-4categories {
  padding-bottom: 20px;
  background-color: #f6f6f6;
}
.home-4categories>ul>li {
  margin: 20px auto auto 20px;
}
.home-about-text {
  width: 442px;
  z-index: 2147483647;
}
.home-about-text p {
  position: relative;
  left: 91px;
  top: -500px;
  text-align: justify;
}
.home-news-text {
  width: 1115px;
  z-index: 2147483640;
}
.home-news-div {
  position: relative;
  left: 81px;
  top: 142px;
  text-align: justify;
}
.home-news-div img {
  width: 200px;
  height: 120px;
}
.news-section-div {
  margin-bottom: 40px;
}
.news-section-div div.fr {
  width: 880px;
}
.news-section-div h3 {
  margin: 0;
}
.news-section-div p {
  margin: 0;
}
.news-section-div span.fr {
  font-size: 14px;
  font-weight: normal;
}
/*
body {
	background-image: url("../../images/en/img_bg.jpg");
	background-repeat:no-repeat;
	background-position:center top;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.footer_txt {
	font-size: 12px;
	color: #FFFFFF;
	font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", "Osaka","ＭＳ Ｐゴシック","MS PGothic","sans-serif","arial","helvetica";
}
.index_news_title {
	font-size: 14px;
	font-weight: bold;
	color: #252525;
	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif", "arial", "helvetica";
}
.index_content_txt {
	font-size: 14px;
	font-weight: normal;
	color: #252525;
	line-height: 18px;
	font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", "Osaka","ＭＳ Ｐゴシック","MS PGothic","sans-serif","arial","helvetica";
}
.style1 {color: #252525; font-size: 14px;}
.index_discription_title {
	font-size: 24px;
	font-weight: bold;
	color: #004282;
	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif", "arial", "helvetica";
	line-height: 25px;
}
.index_read_txt {
	color: 4e4eff;
	font-size: 12px;
	font-weight: bold;
	font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", "Osaka","ＭＳ Ｐゴシック","MS PGothic","sans-serif","arial","helvetica";
}
a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a:active {
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.content-background
{
	background-image: url("../../images/en/img_index_content_bg.png");
}
*/